.astro-picture-block__copyright {
    text-align: right;
    font-size: 1.2em;
}
.astro-picture-block__copyright::before {
    content: '\00a9';
    margin-right: 0.2em;
}

.astro-picture-block {
    margin: 0 auto;
}

.astro-picture-block iframe {
    height: 244px;
}
.astro-picture-block__resource {
    width: 100%;
    display: block;
}

.astro-picture-block__explanation {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 0.6em;
}

.astro-picture-block .title {
    margin-top: 0.3em;
    margin-bottom: 0.4em;
    text-decoration: underline;
}
